/*
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;

}
*/
@import url('https://fonts.googleapis.com/css2?family=Allan:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Smooch+Sans:wght@100..900&display=swap');


body {
  /*font-family: Arial;*/
  font-family: "Allan", serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: #111;
  display: flex;
  justify-content: center;
  background: #f7f8fb;
  padding: 1rem;
}

.brand {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(15, 15, 21);
  display: flex;
  align-items: center;
  gap: .75rem;
}

.brand h1 {
/*
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
*/
  font-family: "Bebas Neue", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: rgb(155, 128, 8);
  font-size: 2.25rem;
  margin: 0;
}

main {
  padding: 1.25rem;
  display: grid;
  grid-template-columns: 1fr 320px;
  gap: 1.5rem;
}

.contents {
  font-family: "Smooch Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  color: rgb(155, 128, 8);
}

.section_header {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: rgb(155, 128, 8);
  font-size: 1.25rem;
}

.subsection_header {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: rgb(15, 15, 21);
  font-size: 1.1rem;

}

table {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(15, 15, 21);
  width: 100%;
  border-radius: 10%;
  border-color: #111;
  border-collapse: collapse;
  margin-top: .5rem;
}



